button {
    margin: 1em 1em;
    width: 15vw;
    height: 7vw;
    cursor: pointer;
}

div.game-thumbnail {
    width: 10em;
    height: 10em;
    display: inline-block;
    border: 2px solid #c7c7c7;
    margin: 1em 1em;
}

img.game-thumbnail {
    width: 8em;
    height: 8em;
    margin: 1em 1em;
    cursor: pointer;
}

div.game-title {
    overflow: hidden;
    height: 4em;
    text-align: center;
}
